.notes {
  padding: 20px 0;

  .heading {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;

    .title {
      @include title;
    }

    .create-link {
      width: 40px;
      height: 40px;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: transparent;
      border: none;
      cursor: pointer;

      .create-icon {
        width: 40px;
        height: 40px;
        color: var(--primary-color);
      }
    }
  
  }

  .contents {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
  }
}

